<!--The content below is only a placeholder and can be replaced.-->
<div class="page">
    <mat-sidenav-container class="mat-drawer-container">
        <mat-sidenav [fixedInViewport]="mobileQuery.matches"
                     [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" class="mat-sidenav"
                     disableClose="true" mode="side">
            <app-sidenav></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content class="mat-app-background mat-drawer-content">
            <mat-toolbar class="mat-toolbar">
                <span>My Application</span>
            </mat-toolbar>
            <app-conversation class="app-conversation"></app-conversation>
            <mat-form-field appearance="fill" class="w-100">
                <input matInput type="text" placeholder="Wpisz nową wiadomość"/>
                <mat-icon matSuffix>send</mat-icon>
            </mat-form-field>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
