<div class="page">
    <mat-toolbar class="mat-toolbar">
        <button [hidden]="!mobileQuery.matches" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1>Chat</h1>
    </mat-toolbar>
    <mat-sidenav-container class="mat-drawer-container">
        <mat-sidenav #sidenav [fixedInViewport]="mobileQuery.matches"
                     [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" class="mat-sidenav"
                     disableClose="true" mode="side" fixedTopGap="56">
            <app-sidenav (contactChosen)="selectContact($event.id)"></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content class="mat-app-background mat-drawer-content">
            <app-conversation [messageBubbles]="(currentConversation$ | async)?.conversation"
                              class="app-conversation" (sendMessage)="onSendMessage($event)"></app-conversation>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
