<!--The content below is only a placeholder and can be replaced.-->
<div class="page">
    <mat-sidenav-container class="mat-drawer-container">
        <mat-sidenav [fixedInViewport]="mobileQuery.matches"
                     [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" class="mat-sidenav"
                     disableClose="true" mode="side">
            <app-sidenav (contactChosen)="selectContact($event.id)"></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content class="mat-app-background mat-drawer-content">
            <mat-toolbar class="mat-toolbar">
                <span>My Application</span>
            </mat-toolbar>
            <app-conversation [messageBubbles]="(currentConversation$ | async)?.conversation"
                              class="app-conversation"></app-conversation>
            <mat-form-field appearance="fill" class="w-100">
                <input matInput placeholder="Wpisz nową wiadomość" type="text"/>
                <mat-icon matSuffix>send</mat-icon>
            </mat-form-field>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
